{% load static %}

<footer class="py-7 bg-dark-grey">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4"> <a class="footer-logo text-white h2 mb-0" href="{% url 'ecom:home' %}">
              <img class="img-fluid" src="{{site_info.logo.url}}" alt="">
            </a>
        <p class="my-3 text-muted pr-6">
          Phone : {{site_info.site_phone}} <br>
          Email : {{site_info.site_email}} <br>
          Address : {{site_info.site_address}} <br>
        </p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="text-muted ic-2x" href="javascript:void(0)"><i class="la la-facebook"></i></a>
          </li>
          <li class="list-inline-item"><a class="text-muted ic-2x" href="javascript:void(0)"><i class="la la-dribbble"></i></a>
          </li>
          <li class="list-inline-item"><a class="text-muted ic-2x" href="javascript:void(0)"><i class="la la-instagram"></i></a>
          </li>
          <li class="list-inline-item"><a class="text-muted ic-2x" href="javascript:void(0)"><i class="la la-twitter"></i></a>
          </li>
          <li class="list-inline-item"><a class="text-muted ic-2x" href="javascript:void(0)"><i class="la la-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-8 mt-6 mt-lg-0">
        <div class="row">
          <div class="col-12 col-sm-4 navbar-white">
            <h6 class="mb-4 text-white font-w-5 txt-transform">Quick Links</h6>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Shipment</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="about-us-1.html">About</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="shop-grid-left-sidebar.html">Shop</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="faq.html">Faq</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="blog-card.html">Blogs</a>
              </li>
              <li class="nav-item"><a class="nav-link text-muted font-w-4" href="contact-us.html">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-white">
            <h6 class="mb-4 text-white font-w-5 txt-transform">Information</h6>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="terms-and-conditions.html">Term Of Service</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="privacy-policy.html">Privacy Policy</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Support</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Orders History</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Your Account</a>
              </li>
              <li class="nav-item"><a class="nav-link text-muted font-w-4" href="#">Suppliers</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-white">
            <h6 class="mb-4 text-white font-w-5 txt-transform">Shopping Guide</h6>
            <ul class="navbar-nav list-unstyled mb-0">
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Site Map</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Search Terms</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Advanced Search</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Return policy</a>
              </li>
              <li class="mb-3 nav-item"><a class="nav-link text-muted font-w-4" href="#">Where is my order?</a>
              </li>
              <li class="nav-item"><a class="nav-link text-muted font-w-4" href="#">Our Story</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <hr class="my-6 light-border">
    <div class="row text-muted align-items-center">
      <div class="col-md-7 font-w-4"><small>Copyright ©2020 CodeHub. All Rights Reserved.</small>
      </div>

    </div>
  </div>
</footer>
