{% extends "auth_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<section class="dashboard-page bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4">
            {% include './profile_sidebar.html' %}
        </div>

      <div class="col-sm-12 col-md-8">
        <div class="shadow p-6 login bg-white">
         <div class="store-name">flipmarto</div>
          <h4 class="text-left mb-3 font-w-5">Chanage Profile</h4>
          <form method="POST" action="{% url 'accounts:my_profile' %}" novalidate>
            {% csrf_token %}
            {{user_form|crispy}}
            {{profile_form|crispy}}
            <input type="submit" class="btn btn-primary btn-block" value="Change Password">



          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
