.form-check-label{
    width: 20px;
    height: 20px !important;
    border-radius: 100%;
    padding: 0 !important;
    font-weight: bold;
}


.category_list {
    background: antiquewhite;
    border-bottom: 1px solid turquoise;
    padding: 5px;
}

.category_list:hover {
    background: #efe8ef;
    border-bottom: 1px solid turquoise;
    padding: 5px;
}

.list-inline label{
    background-color: #ff324d !important;
}


/* Custom Select */
/*the container must be positioned relative:*/
.custom-select-sub_cat {
  position: relative;
  font-family: Arial;
  padding: 0px;
  width: 100%;
}

.custom-select-sub_cat select {
  display: none; /*hide original SELECT element:*/
}

.custom-select-sub_cat .select-selected {
  background-color: DodgerBlue;
}



/*point the arrow upwards when the select box is open (active):*/


/*style the items (options), including the selected item:*/
.custom-select-sub_cat .select-items div{
  color: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.custom-select-sub_cat .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.custom-select-sub_cat .select-items {
  position: absolute;
  background-color: #efe8ef;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: 200px;
  overflow-y: scroll;
}


.custom-select-sub_cat .select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* End Custom Select*/

.price_range {
    margin-top: 200px;
}
