{% extends "auth_base.html" %}

{% load static %}


{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
     <section class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-8 col-sm-11">
        <div class="shadow p-6 login bg-white">
         <div class="store-name">flipmarto</div>
          <h4 class="text-left mb-3 font-w-5">Password Changed Successfully</h4>


            <p class="lead">
                Your password has been set. You may go ahead and <a href="{% url 'accounts:login' %}">sign in</a> now.
            </p>
         </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


