{% extends "auth_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <section class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-8 col-sm-11">
        <div class="shadow p-6 login bg-white">
         <div class="store-name">flipmarto</div>
          <h4 class="text-left mb-3 font-w-5">Customer Login</h4>
          <form method="POST" action="{% url 'accounts:login' %}" novalidate>
            {% csrf_token %}
            {{form|crispy}}
            <div class="form-group mt-4 mb-5">
                <div class="remember-checkbox d-flex align-items-center justify-content-between">
                    <a href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Login Now">



          </form>
          <div class="another_login"><span> or</span></div>
          <ul class="login-btn list_none text-center">
            <li><a href="javascript:void(0)" class="btn facebook-btn"><i class="ion-social-facebook"></i>Facebook</a></li>
            <li><a href="javascript:void(0)" class="btn google-btn"><i class="ion-social-googleplus"></i>Google</a></li>
        </ul>
          <div class="d-flex align-items-center text-center justify-content-center mt-4">
            <span class="text-muted mr-1">Don't have an account?</span>
               <a href="{% url 'accounts:register' %}">Sign Up</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
