{% extends 'base2.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}


{% block content %}

<form name="filterForm" action="{% url 'ecom:category_filter' category_obj.id %}" method="GET">

    <input type="hidden" name="search_category" value="{{search_category}}">
    <input type="hidden" name="query_text" value="{{query}}">
    <section class="bg-white">
        <div class="container">
           <div class="row">
                <div class="col-lg-9 col-md-12 order-lg-1 product_list">

<div class="row mb-4 align-items-center">
                      <div class="col-md-5 mb-3 mb-md-0"> <span class="text-muted">Showing {{ products.start_index }}  of {{ products.paginator.count }} total</span>
                      </div>
                      <div class="col-md-7 d-flex align-items-center justify-content-md-end">
                        <div class="sort-filter ml-2 d-flex align-items-center">

                          {{category_filter_form.new_or_popular|as_crispy_field}}

                        </div>
                      </div>
                    </div>
                    <div class="card product-list mb-5">
                      <div class="row align-items-center">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-5">
                            <a class="card-img-hover d-block" href="#">
                            {% with product.product_images.all|first as image %}
                            <img class="card-img-top card-img-back" src="{{image.image.url}}" alt="...">
                            {% endwith %}
                            {% with product.product_images.all|first as image %}
                            <img class="card-img-top card-img-front" src="{{image.image.url}}" alt="...">
                            {% endwith %}
                          </a>
                        </div>
                        <div class="col-lg-8 col-md-7">
                          <div class="card-info">
                            <div class="card-body">
                              <div class="product-title"><a class="link-title" href="{{product.get_detail_url}}">{{product.title}}</a>
                              </div>
                              <div class="mt-1">
                                {% if product.discount_price %}
                                    <span class="product-price text-dark">
                                        <del class="text-muted">${{product.price}}</del> ${{product.discount_price}}
                                    </span>
                                {% else %}
                                    <span class="product-price text-dark">
                                        ${{product.price}}
                                    </span>
                                {% endif %}
                                <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                </div>
                              </div>
                              <p class="mb-3 mt-2">{{product.excerpt}}</p>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                              <div class="product-link d-flex align-items-center">
                                <a class="btn btn-compare mr-2" data-toggle="tooltip" data-placement="top" title="Compare" type="button" href="{% url 'ecom:add_compare' product.id %}"
                                ><i class="las la-random"></i>
                                </a>
                                <a class="btn btn-compare mr-2" data-toggle="tooltip" data-placement="top" title="WishList" type="button" href="{% url 'ecom:add_wishlist' product.id %}"><i class="lar la-heart"></i>
                                </a>
                                <a class="btn-cart btn btn-pink mr-2" type="button" href="{% url 'cart:cart_add' product.id %}"><i class="las la-shopping-cart mr-1"></i> Add to cart </a>
                            </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>

                    {% include 'partials/ecom/_pagination.html' %}

                </div>

                <div class="col-lg-3 col-md-12 sidebar mt-8 mt-lg-0">

                <div class="widget widget-categories mb-4 border rounded p-0">
                  <div class="categories_wrap">
                      <div class="head"><i class="las la-bars"></i> Sub Categories</div>
                      <div id="navCatContent" class="nav_cat navbar">
                        <div class="custom-select-sub_cat text-dark font-weight-bold text-center">
                            <select class="sub_category" name="sub_category" onchange="this.form.submit()">
                              <option value="0">Select Sub Category:</option>
                              {% for sub_cat in category_obj.subcategories.all %}
                              <option value="{{sub_cat.id}}">{{sub_cat.name}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <!-- <ul >
                          {% for sub_cat in category_obj.subcategories.all %}

                                <li>
                                  <a href="#" class="dropdown-item nav-link nav_item"><span>{{sub_cat.name}}</span></a></li>
                          {% endfor %}
                        </ul> -->
                      </div>
                  </div>

                <div class="widget widget-brand  border rounded p-4 price_range">
                  <h5 class="widget-title mb-3">Price</h5>
                  <div class="custom-control custom-checkbox mb-2 pl-0">
                      {{category_filter_form.price_range|as_crispy_field}}
                  </div>
                </div>
                <div class="widget widget-brand  border rounded p-4">
                  <h5 class="widget-title mb-3">Brand</h5>

                  <div class="custom-control custom-checkbox mb-2 pl-0">
                      {{category_filter_form.brand_name|as_crispy_field}}
                  </div>

                </div>




                  <div class="widget widget-size  border rounded p-4">
                    <h5 class="widget-title mb-3">Size</h5>

                     <div class="custom-control custom-checkbox mb-2 pl-0">
                        {{category_filter_form.size|as_crispy_field}}
                    </div>

                  </div>
                   <input type="submit" value="submit" id="submitButton" />




                <div class="widget mb-4">
                <div class="position-relative rounded overflow-hidden">
                  <!-- Background -->
                  <img class="img-fluid hover-zoom" src="{% static 'images/product-ad/side-banner.jpg' %}" alt="">
                  <!-- Body -->
                  <div class="position-absolute top-50 pl-5 side-banner">
                    <h6 class="text-dark">Todays Deals</h6>
                    <!-- Heading -->
                    <h4 class="font-w-6 text-dark">Accessories <br>
                      Special</h4>
                    <!-- Link --> <a class="more-link" href="#">Shop Now </a> </div>
                </div>
                </div>

              </div>
      </div>
           </div>
        </div>
    </section>
    </form>
{% endblock content %}


{% block script %}
    <script>
        $(document).ready(function() {
            $(document).on('click','.select-items div',function() {
               $('form[name="filterForm"]').submit()
            });


            var select_option = $("input[name='search_category']").val();
            var query = $("input[name='query_text']").val();
            console.log(query)

            $(`#search_category option[value=${select_option}]`).prop('selected', true)

            $("#searchForm input[name='query']").val(query);
        });

        // $(document).ready(function() {

        //   var url = $("#filterForm").attr("data-products-url");

        //   $(document).on('submit', '#filterForm',function(e){
        //       e.preventDefault();
        //       $.ajax({
        //           url: url,
        //           type: 'GET',
        //           data: $('form#filterForm').serialize(),
        //       })
        //       .done(function(html) {
        //           $('.product_list').html(html)
        //       })

        //   })

        //   $(document).on('change','.newPopularFilter',function(e) {
        //       var new_or_popular = $('.newPopularFilter').find(":selected").val();

        //       e.preventDefault();
        //         $.ajax({
        //             url: url,
        //             type: 'GET',
        //             data: { new_or_popular: new_or_popular} ,
        //         })
        //         .done(function(html) {
        //             $('.product_list').html(html)
        //         })
        //   });




        // });
  </script>
{% endblock script %}
