<div class="row align-items-center">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-5">
                            <a class="card-img-hover d-block" href="#">
                            {% with product.product_images.all|first as image %}
                            <img class="card-img-top card-img-back" src="{{image.image.url}}" alt="...">
                            {% endwith %}
                            {% with product.product_images.all|first as image %}
                            <img class="card-img-top card-img-front" src="{{image.image.url}}" alt="...">
                            {% endwith %}
                          </a>
                        </div>
                        <div class="col-lg-8 col-md-7">
                          <div class="card-info">
                            <div class="card-body">
                              <div class="product-title"><a class="link-title" href="product-left-image.html">{{product.title}}</a>
                              </div>
                              <div class="mt-1">
                                {% if product.discount_price %}
                                    <span class="product-price text-dark">
                                        <del class="text-muted">${{product.price}}</del> ${{product.discount_price}}
                                    </span>
                                {% else %}
                                    <span class="product-price text-dark">
                                        ${{product.price}}
                                    </span>
                                {% endif %}
                                <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                </div>
                              </div>
                              <p class="mb-3 mt-2">{{product.excerpt}}</p>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                              <div class="product-link d-flex align-items-center">
                                <button class="btn btn-compare mr-2" data-toggle="tooltip" data-placement="top" title="Compare" type="button"><i class="las la-random"></i>
                                </button>
                                <button class="btn btn-compare mr-2" data-toggle="tooltip" data-placement="top" title="Compare" type="button"><i class="lar la-heart"></i>
                                </button>
                                <button class="btn-cart btn btn-pink mr-2" type="button"><i class="las la-shopping-cart mr-1"></i> Add to cart </button>
                            </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
