{% extends 'base2.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
   <section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <ul id="imageGallery">
          {% for image in product.product_images.all %}


          <li data-thumb="{{image.image.url}}" data-src="{{image.image.url}}">
            <img class="img-fluid w-100" src="{{image.image.url}}" alt="" />
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-12 mt-5 mt-lg-0">
        <div class="product-details">
          <h1 class="h4 mb-0 font-w-6">{{product.title}}</h1>
          <div class="star-rating mb-4"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
          </div> {% if product.discount_price %}
                <span class="product-price text-dark">
                    <del class="text-muted">${{product.price}}</del> ${{product.discount_price}}
                </span>
            {% else %}
                <span class="product-price text-dark">
                    ${{product.price}}
                </span>
            {% endif %}
          <ul class="list-unstyled my-3">
            <li><small>Availibility: <span class="text-green"> In Stock</span> </small>
            </li>
            <li class="font-w-4"><small>Categoriy :<span class="text-muted">{{product.category.name}}</span></small>
            </li>
          </ul>
          <p class="mb-4 desc">{{product.excerpt}}</p>
          <div class="d-sm-flex align-items-center mb-5">
            <div class="d-flex align-items-center mr-sm-4">
              <button class="btn-product btn-product-up"> <i class="las la-minus"></i>
              </button>
              <input class="form-product" type="number" name="form-product" value="1">
              <button class="btn-product btn-product-down"> <i class="las la-plus"></i>
              </button>
            </div>

          </div>
          <div class="d-sm-flex align-items-center mt-5">
            <button class="btn btn-primary btn-animated mr-sm-3 mb-3 mb-sm-0"><i class="las la-shopping-cart mr-2"></i>Add To Cart</button>
            <a class="btn btn-animated btn-dark" href="#"> <i class="lar la-heart mr-2 ic-1-2x"></i>Add To Wishlist
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="pt-0 pb-8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tab product-tab">
          <!-- Nav tabs -->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active ml-0" id="nav-tab1" data-toggle="tab" href="#tab3-1" role="tab" aria-selected="true">Description</a>
              <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#tab3-2" role="tab" aria-selected="false">Specification</a>
              <a class="nav-item nav-link" id="nav-tab3" data-toggle="tab" href="#tab3-3" role="tab" aria-selected="false">Ratings and Reviews</a>
            </div>
          </nav>
          <!-- Tab panes -->
          <div class="tab-content pt-5 p-0">
            <div role="tabpanel" class="tab-pane fade show active" id="tab3-1">
              <div class="row align-items-center">

                <div class="col-md-12">
                  <p>{{product.description}}</p>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab3-2">
              <table class="table table-bordered mb-0">
                <tbody>
                  <tr>
                    <td>Size</td>
                    <td>
                        {% for size in product.size %}
                          {{size}}
                        {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td>Avialability</td>
                    <td>{{product.get_availibility_display}}</td>
                  </tr>
                  <tr>
                    <td>Warranty</td>
                    <td>{{product.warranty}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab3-3">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="bg-light-4 text-center p-5">
                    <h4>Based on 3 Reviews</h4>
                    <h5>Average</h5>
                    <h4>4.0</h4>
                    <h6>(03 Reviews)</h6>
                  </div>
                </div>
                <div class="col-md-6 mt-3 mt-lg-0">
                  <div class="rating-list">
                    <div class="d-flex align-items-center mb-2">
                      <div class="text-nowrap mr-3">5 Star</div>
                      <div class="w-100">
                        <div class="progress" style="height: 5px;">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div><span class="text-muted ml-3">90%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                      <div class="text-nowrap mr-3">4 Star</div>
                      <div class="w-100">
                        <div class="progress" style="height: 5px;">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div><span class="text-muted ml-3">60%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                      <div class="text-nowrap mr-3">3 Star</div>
                      <div class="w-100">
                        <div class="progress" style="height: 5px;">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div><span class="text-muted ml-3">40%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                      <div class="text-nowrap mr-3">2 Star</div>
                      <div class="w-100">
                        <div class="progress" style="height: 5px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div><span class="text-muted ml-3">20%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                      <div class="text-nowrap mr-3">1 Star</div>
                      <div class="w-100">
                        <div class="progress" style="height: 5px;">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div><span class="text-muted ml-3">10%</span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="comment-area mt-5">
                    <div class="content_title">
                        <h4>Comments</h4>
                    </div>
                    <ul class="list_none comment_list">
                        <li class="comment_info">
                            <div class="d-flex">
                                <div class="comment_user">
                                    <img src="assets/images/thumbnail/member3.png" alt="user4">
                                </div>
                                <div class="comment_content">
                                    <div class="d-flex">
                                        <div class="meta_data">
                                            <h6><a href="#">Karla Anderson </a></h6>
                                            <div class="comment-time">may 25, 2020, 05:20 PM</div>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="#" class="comment-reply"><i class="las la-arrow-left"></i> Reply</a>
                                        </div>
                                    </div>
                                    <p>Aliquam vehicula neque ac nibh suscipit ultrices. Morbi interdum accumsan arcu nec scelerisque. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Donec rutrum congue leo eget malesuada.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="mt-8 bg-light-4 rounded p-5">
                          <div class="section-title mb-3">
                            <h4>Add a review</h4>
                          </div>
                          <div class="messages text-center font-weight-bold lead my-2 text-info"></div>
                          <form id="review-form" class="row" data-review-url="{% url 'ecom:product_review' product.id %}" novalidate>

                            <div class="form-group col-sm-6">
                              {{review_form.name|as_crispy_field}}
                            </div>
                            <div class="form-group col-sm-6">
                              {{review_form.email|as_crispy_field}}
                            </div>
                            <div class="form-group col-sm-12">
                              {{review_form.rating|as_crispy_field}}
                            </div>
                            <div class="form-group col-12 m-0 p-0">
                              <div class="form-group col-sm-12">
                              {{review_form.review|as_crispy_field}}
                            </div>
                            </div>
                            <div class="col-12">
                              <button  class="btn btn-primary btn-animated mt-1">Post Review</button>
                            </div>
                          </form>
                    </div>
                    <div>

                    </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


{% block script %}
    <script>
        jQuery(document).ready(function($) {
            $(document).on('submit', '#review-form',function(e){
              e.preventDefault();
                var url =  $("#review-form").attr("data-review-url");
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: $('form#review-form').serialize(),
                })
                .done(function(data) {
                    $(".messages").text(data)
                })
            })


        });
    </script>
{% endblock script %}
