<section class="pb-0 pt-5">
        <div class="container">
            <div class="product-block product-block-div">
                <div class="row justify-content-left text-left row_title">
                    <h2 class="mb-0 font-w-5 bg-dark-blue">{{third_lead.third_lead.name}}</h2>
                </div>
                <div class="row">
                    <div class="owl-carousel no-pb owl-2" data-dots="false" data-nav="true" data-items="{{third_lead_product.count}}" data-md-items="2" data-sm-items="1">
                        {% for product in third_lead_product %}
                        <div class="item">
                            <div class="card product-card card--default">
                                {% with product.product_images.all|first as image %}
                                <a class="card-img-hover d-block" href="{{product.get_detail_url}}">
                                    <img class="card-img-top" src="{{image.image.url}}" alt="">
                                </a>
                                {% endwith %}
                                <div class="card-icons">
                                    <div class="card-icons__item">
                                        <a href="{% url 'ecom:add_wishlist' product.id %}" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to wishlist"> <i class="lar la-heart"></i> </a>
                                    </div>
                                    <div class="card-icons__item">
                                        <a href="{% url 'ecom:add_compare' product.id %}" data-toggle="tooltip" data-placement="left" title="" data-original-title="Compare"> <i class="las la-random"></i> </a>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-body">
                                        <div class="product-title font-w-4"><a class="link-title" href="{{product.get_detail_url}}">{{product.title}}</a>
                                        </div>
                                        <div class="mt-1">
                                            {% if product.discount_price %}
                                                <span class="product-price text-dark">
                                                    <del class="text-muted">${{product.price}}</del> ${{product.discount_price}}
                                                </span>
                                            {% else %}
                                                <span class="product-price text-dark">
                                                    ${{product.price}}
                                                </span>
                                            {% endif %}



                                            <div class="star-rating"><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-transparent border-0">
                                        <div class="product-link d-flex align-items-center justify-content-center">
                                            <button class="btn-cart btn btn-yellow-dark mx-3" type="button"><i class="las la-shopping-cart mr-1"></i> Add to cart
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
